<div class="animeLeft">
    <h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>

    <form class="container">
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Id:</label>
                <input type="text" class="form-control" disabled />
            </div>
            <div class="col-md-6 form-group">
                <label>Data de cadastro:</label>
                <input type="text" class="form-control" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Nome:</label>
                <input type="text" class="form-control" />
            </div>
            <div class="col-md-6 form-group">
                <label>CPF:</label>
                <input type="text" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>
            </div>
        </div>
    </form>
</div>