<div class="animeLeft">
    <h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">{{ edit? 'Edição' : 'Cadastro' }}</li>
    </ol>

    <!--#clienteForm="ngForm" => criando uma variavel de template e atribuindo o ngForm-->
    <!--(ngSubmit) = "onSubmit()" => Fazendo um event data binding para o evento de ngSubmit-->
    <!--E assim que o Angular lida com formularios...-->
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" class="container">
        <!--Feedback do cadastro-->
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success animeLeft" role="alert" *ngIf="success;else Errors">
                    Cliente cadastrado/atualizado com sucesso!
                </div>
                <!--E preciso um ng-template para referenciar o a variavel de template em um *ngIf-->
                <ng-template #Errors>
                    <div class="alert alert-danger animeLeft" role="alert" *ngFor='let erro of errors'>
                        {{erro}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="row grow" *ngIf="success || edit">
            <div class="col-md-6 form-group">
                <label>Id:</label>
                <!--Fazendo data-binding [ngModel] = cliente.id-->
                <input type="text" class="form-control" [ngModel]=cliente.id name="id" disabled />
            </div>
            <div class="col-md-6 form-group">
                <label>Data de cadastro:</label>
                <input type="text" class="form-control" [ngModel]=cliente.dataCadastro name="dataCadastro" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Nome:</label>
                <!--Fazendo two-way data-binding [(ngModel)] = cliente.nome-->
                <input type="text" class="form-control" [(ngModel)]=cliente.nome name="nome" />
            </div>
            <div class="col-md-6 form-group">
                <label>CPF:</label>
                <input type="text" class="form-control" [(ngModel)]=cliente.cpf name="cpf" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" *ngIf = "!edit; else atualizarButton">
                    <i class="fa fa-save"></i>
                    Salvar
                </button>
                <ng-template #atualizarButton>
                    <button type="submit" class="btn btn-primary" >
                        <i class="fa fa-sync-alt"></i>
                        Atualizar
                    </button>
                </ng-template>
                <button type="button" class="btn btn-danger ml-2" routerLink="/clientes-lista">
                    <i class="fa fa-arrow-alt-circle-left"></i>
                    Voltar
                </button>
            </div>
        </div>
    </form>
</div>