<div class="animeLeft">
    <h1 class="mt-4">Clientes</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Listagem</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-warning" routerLink="/clientes-form">
                    <i class="fa fa-plus"></i> Novo
                </button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data de cadastro</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td>{{ cliente.id }}</td>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.cpf }}</td>
                            <td>{{ cliente.dataCadastro }}</td>
                            <td>
                                <button class="btn btn-primary" routerLink="/clientes-form/{{ cliente.id }}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button 
                                    class="btn btn-danger ml-2" 
                                    data-toggle="modal" 
                                    data-target="#modalDelecao"
                                    (click) = "preparaDelecao(cliente)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal para delecao de clientes-->
<div id="modalDelecao" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Deleção de cliente</h4>
            </div>

            <div class="modal-body">
                Tem certeza que deseja deletar {{ clienteSelecionado? clienteSelecionado.nome : "" }} ?
            </div>

            <div class="modal-footer">
                <button class="btn btn-success">
                    Deletar
                </button>

                <button class="btn btn-primary ml">
                    Cancelar
                </button>
            </div>
        </div>
    </div>
</div>


